@import url("https://fonts.googleapis.com/css?family=Poppins");

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Poppins;
    background: #ffffff;
}

/* NAVBAR*/
.navbar{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    background: #FAFAFA;
    border-radius: 10px;
}

.logo{
    margin-right: 5px;
}

.navbar .navbar-brand{
    color: #1FA7FF;
    font-weight: bold;
}

.navbar .navbar-brand:hover{
    color: #1b8bd6;
    font-weight: bold;
}

.nav-item{
    color: #787878;
    font-weight: 400;
    font-size: 20px;
    font-family: Poppins;
    position: relative;
}

.nav-item:hover .nav-link{
    color: #2ECB89;
}

.nav-item .nav-link.active {
    color: #2ECB89;
}

.nav-link:hover,
.nav-link.active {
  color: #2ECB89;
}


@media (min-width: 991px){
.navbar ul li a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 35%;
    width: 0;
    height: 3px;
    background-color: #2ECB89;
    visibility: none;
    transition: 0.2s ease;
    border-radius: 2px;
}

.navbar ul li a:hover::after,
.navbar ul li a.active::after {
    width: 30%;
    visibility: visible;
    background-color: #2ECB89;
}
}

.PPOB-button{
    background-color: #2ECB89;
    color: #ffffff;
    font-family: Poppins;
    font-size: 16px;
    padding: 12px 40px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0,5s background-color;
}

.PPOB-button:hover{
    background-color:#2bbe81;
}

.navbar-toggler{
    margin-left: 10px;
    border: none;
    font-size: 1.0rem;
}

.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}

/*Beranda*/
.container-fluid{
    background: #FAFAFA;
}

.container-fluid .content1{
    background: #FAFAFA;
    align-items: left; 
    justify-content: left; 
    margin-top: 25%;
    margin-left: 70px;
    text-align: left;
}

.elemen1{
    margin-top: 0%;
    margin-left: 15px;
}

.content1 h1{
    margin-top: 15px;
    color: #404040;
    font-size: 56px;
    font-weight: bold;
}

.content1 p{
    margin-top: 15px;
    margin-right: 120px;
    color: #787878;
    font-size: 20px;
}

.content1 a, .content3 a, .content5 a{
    display: inline-block;
    margin-top: 15px;
    padding: 12px 40px;
    font-size: 16px;
    font-family: Poppins;
    background-color: #2ECB89;
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease; /* Menengahkan teks */
}

.content1 a:hover, .content3 a:hover, .content5 a:hover{
    background-color:#2bbe81;
}

.image{
    margin-top: 100px;
    position: relative;
}

.gambar{
    position: absolute;
}

.frame{
    max-width: 400px;
    top: 0;
    left: 0;
}

.mas2{
    max-width: 400px;
    margin-top: 40px;
    top: 0;
    left: 0;
}

.space .container-fluid{
    background: #FAFAFA;
    height: 72px;
}
.content2 .container-fluid{
    background: #153F5A;
}

.col-3 h2 {
    margin-left: 0px;
    margin-right: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #ffffff;
    font-size: 48px;
}

.p img{
    max-width: 100px;
    text-align: right;
}

.col-3 p{
    text-align: right;
    font-family: Poppins;
    color:#ffffff;
    font-size: 22px;
    font-weight: 300;
    margin-top: 60px;
    margin-left: 10px;
}

.content3 .row{
    padding-top: 150px;
    background: #ffffff;
}

.col-7 h2{
    margin-top:25px;
    font-size: 50px;
    color: #444444;
}

.col-7 p{
    color: #787878;
    font-size: 20px;
    margin-right: 100px;
}

.image2{
    margin-top: 0px;
    margin-left: 100px;
    position: relative;
}

.gambar{
    position: absolute;
}

.frame2{
    max-width: 390px;
    top: 0;
    left: 0;
}

.mbak2{
    max-width: 370px;
    margin-top: 105px;
    top: 0;
    margin-left: 10px;
}

.content4{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 90px;
}

.content4 .row{
    background: #ffffff;
}

.content4 h2{
    color: #404040;
    font-size: 48px;
    font-weight: bold;
}

.content4 .col-3 a{
    position: inherit;
    font-size: 24px;
    font-weight: 500;
    color: #2ECB89;
    text-decoration: none;
    text-align: right;
}

.content4 .col-3 a:hover{
    color:#2bbe81;
}

.content4 .row{
    padding-top: 15px;
}

.content4 .card{
    border: none;
    padding-inline: 0px;
    margin-inline: 9px;
    border-radius: 7%;
    background: #cac9c9;
}

.content4 .card img{
    border-top-right-radius: 7%;
    border-top-left-radius: 7%;
}

.content4 .card-body{
    max-height: 60px;
    border-bottom-left-radius: 7%;
    border-bottom-right-radius: 7%;
}

.content4 .card:hover{
    background:#2ECB89;
}

.card:hover .card-body, .card:hover .card-body span {
    color: white; /* Ubah warna teks di dalam card saat mouse menyentuh */
}

.content4 .card-body .card-text{
    margin-block: 0px;
}

.content4 span{
    font-family: Poppins;
    font-size: 16px;
    color: #747474;
}

.content4 .panah{
    margin-left: 170px;
    color: #747474;
}

.content4 .panah2{
    margin-left: 175px;
    color: #747474;
}

.content4 .panah3{
    margin-left: 225px;
    color: #747474;
}

  /* content5 */
  .content5{
    margin-top: 150px;
    margin-left: 70px;
  }

  .content5 .row{
    background: #ffffff;
    height: 500px;
}

.content5  .col .gambar{
    position: absolute;
    display: flex;
}

.content5 .col-5{
    margin-top: 40px;
}

img.gambar.frame3{
    max-width: 400px;
    margin-left: 150px;
    transform: translateY(-5%);
}

img.gambar.mbak3{
    max-width: 350px;
    margin-left: 170px;
    top: 0;
    transform: translateY(-3%);
}

.col-5 h2{
    margin-top: 40px;
    color: #404040;
    font-size: 48px;
    font-weight: 500;
}

.col-5 p{
    font-size: 20px;
}

/* Content 6 */
.content6 .lihat-semua a{
    text-decoration: none;
    color: #2ECB89;
    font-size: 18;
    font-family: Poppins;
}

.content6 .lihat-semua a:hover{
    color:#25aa73;
}

.content6 a p{
    text-decoration: none;
    font-size: 23px;
    color: #8F8F8F;
    margin-inline: 20px;
}

.content6 a p:hover, .content6 a p.active{
    color:#5f5f5f;
}

.content6 a p:hover::after,
.content6 .d-flex p.active::after{
    content: '';
    display: flex;
    width: 50%;
    height: 3px;
    background-color: #2ECB89;
    transform: translateX(50%);
}

.content6 .row{
    padding-top: 15px;
}

.content6 .gambar2{
    padding-left: 130px;
    padding-right: 80px;
    padding-bottom: 80px;
}

.content6 .card{
    padding-inline: 0px;
    border-radius: 7%;
    background: #ffffff;
    margin-inline: 5px;
}

.content6 .card img{
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}

.content6 .card-body{
    max-height: 150px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.card-img-top{
    max-height: 406px;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
}

.content6 .card-body h5{
    font-family: Poppins;
    margin-top: 5px;
    font-size: 20px;
    color: #404040;
}

.content6 .card-body p{
    font-family: Poppins;
    margin-top: 7px;
    font-size: 16px;
    color: #787878;
}

/* Tentang Kita */
/* content7 */
.content7{
    background: #FAFAFA;
    padding-top: 150px;
    padding-left: 70px;
  }

  .content7 .row{
    height: 500px;
}

.content7 .col .gambar{
    position: absolute;
    display: flex;
}

.content7 .col-5{
    margin-top: 60px;
}

img.gambar.frame4{
    max-width: 400px;
    margin-left: 150px;
    transform: translateY(-5%);
}

img.gambar.mas{
    max-width: 400px;
    margin-left: 150px;
    top: 0;
    transform: translateY(11%);
}

.content7.col-5 h2{
    margin-top: 40px;
    color: #404040;
    font-size: 48px;
    font-weight: 500;
}

.content7.col-5 p{
    font-size: 20px;
}

/* content8 */
.content8{
    background: #ffffff;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 80px;
}

.content8.elemen img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.content8 h2{
    text-align: center;
    margin-top: 30px;
    font-size: 45px;
    color: #444444;
}

.content8 p{
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
    color: #787878;
}

/* content9 */
.content9{
    background: #FAFAFA;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content9 h2{
    padding-top: 110px;
    color: #444444;
}

.content9 .icon{
    max-width: 80px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.content9 h4{
    color: #444444;
}

.content9 p{
    color:#787878;
}

/* content10 */
.content10{
    background: #ffffff;
    padding-top: 80px;
    padding-bottom: 80px;
}

.content10 h2{
    text-align: center;
    color: #404040;
    font-weight: bold;
    font-size: 48px;
}

.content10 p{
    margin-top: 10px;
    text-align: center;
    color: #3A3B41;
    font-size: 20px;
}

.content10 video{
    margin-top: 10px;
    border-radius: 3%;
}

/* content11 */
.content11{
    background: #FAFAFA;
    padding-top: 90px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
}

.content11 h2{
    font-size: 48px;
    color: #404040;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
}

.content11 h4{
    margin-top: 10px;
    color:#404040
}

.content11 p{
    color:#787878;
}

.content11 img{
    max-width: 250px;
}

/* end content */
.end-content.container{
    background:#ffffff;
    padding-left: 30px;
    padding-right: 30px;
}

.end-content h2{
    text-align: center;
    font-size: 35px;
    color:#404040;
    font-weight: 700;
    padding-top: 80px;
}

.end-content p{
    text-align: center;
    font-size: 20px;
    color: #787878;
    margin-top: 15px;
}

.end-content .row .col img{
    max-width: 90px;
    margin-bottom:80px;
}

/* footer */
footer .container-fluid{
    padding-top: 60px;
    padding-left: 0px;
    background: #153F5A;
}

footer .col-5{
    padding-left:70px;
    padding-right: 20px;
}

footer p{
    margin-top: 20px;
    color: #ffffff;
    font-size: 20px;
    text-align: left;
}

footer h4{
    color: #ffffff;
}

footer .icon-foot img{
    width: 35px;
    height: 35px;
}

footer .iconfoot{
    padding-block: 10px;
    padding-inline: 10px;
    margin-right: 10px;
    background-color: #6b8494;
    border-radius: 50%;
}

footer .iconfoot:hover, footer .iconfoot2:hover{
    background-color: #2ECB89;
}

footer .footer-wraper{
    padding-top: 0px;
}

/* Berita */
/* content 12 */
.content12{
    background: #FAFAFA;
    padding-top: 150px;
    padding-left: 70px;
  }

  .content12 .row{
    height: 500px;
}

.content12 .col .gambar{
    position: absolute;
    display: flex;
}

.content12 .col-5{
    margin-top: 60px;
}

img.gambar.frame4{
    max-width: 400px;
    margin-left: 150px;
    transform: translateY(-5%);
}

img.gambar.mas3{
    max-width: 391px;
    margin-left: 150px;
    top: 0;
    transform: translateY(-3%);
}

.content12.col-5 h2{
    margin-top: 40px;
    color: #404040;
    font-size: 48px;
    font-weight: 500;
}

.content12.col-5 p{
    font-size: 20px;
}

/* content 13 */
.content13 .container-fluid{
    background: #ffffff;
    padding-top: 90px;
}

.content13 .row{
    margin-left: 90px;
    margin-right: 90px;
}
.content13 img{
    margin-top: 20px;
    max-width:85%;
}
.content13 h2{
    font-size: 45px;
    color: #404040;
}

.content13 h3{
    margin-top: 23px;
    font-size: 35px;
    color: #404040;
}

.content13 p{
    margin-top: 15px;
    color: #787878;
    font-size: 20px;
}

.content13 a{
    text-decoration: none;
    font-size: 18px;
    font-family: Poppins;
    color: #2ECB89;
}

.content13 a:hover{
    color: #25aa73;
}

/* content 14 */
.content14 .container-fluid{
    padding-left: 0px;
    background: #ffffff;
}

.content14 a p{
    text-decoration: none;
    font-size: 23px;
    color: #8F8F8F;
    margin-inline: 20px;
}

.content14 a p:hover, .content14 a p.active{
    color:#5f5f5f;
}

.content14 a p:hover::after,
.content14 .d-flex p.active::after{
    content: '';
    display: flex;
    width: 115%;
    height: 3px;
    background-color: #2ECB89;
    transform: translateX(-6%);
}

.content14 .row{
    padding-top: 15px;
}

.content14 .gambar3{
    padding-left: 130px;
    padding-right: 80px;
    padding-bottom: 80px;
}

.content14 .card{
    padding-inline: 0px;
    border-radius: 7%;
    border: none;
    background: #ffffff;
    margin-inline: 10px;
    margin-bottom: 15px;
}

.content14 .card-body{
    padding-left: 0px;
    max-height: 150px;
}

.card-img-top{
    max-height: 406px;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
}

.content14 .card-body h5{
    font-family: Poppins;
    font-size: 20px;
    color: #404040;
    font-weight: 500;
}

.content14 .card-body p{
    font-family: Poppins;
    margin-top: 5px;
    font-size: 16px;
    color: #787878;
}